In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
pd.set_option("display.max_rows", 999)
pd.set_option("display.max_columns", None)

In [4]:
trade = pd.read_csv("../data/trade-information.csv")
ir = pd.read_csv("../data/trade-price-ir-vegas.csv")
swap = pd.read_csv("../data/market-data-swap-rates.csv")
swaption = pd.read_csv("../data/market-data-swaption-vols.csv")

In [5]:
trade['bound width'] = trade['upper_bound'] - trade['lower_bound'] 

trade['month_pay_frequency'] = trade['pay_frequency'].str.removesuffix("M") # remove M from string
trade['month_pay_frequency'] = trade['month_pay_frequency'].astype(int) # convert to int


trade['year_maturity'] = trade['maturity'].str.removesuffix("Y") # remove Y from string
trade['year_maturity'] = trade['year_maturity'].astype(int)  # convert to int

In [6]:
trade

,trade name,underlying,pay_frequency,maturity,lower_bound,upper_bound,bound width,month_pay_frequency,year_maturity
0,dummyTrade1,USD: CMS:2Y,6M,5Y,0.0042,0.0379,0.0337,6,5
1,dummyTrade2,USD: CMS:2Y,4M,5Y,0.0042,0.0379,0.0337,4,5
2,dummyTrade3,USD: CMS:5Y,6M,5Y,0.0044,0.0397,0.0353,6,5
3,dummyTrade4,USD: CMS:5Y,4M,5Y,0.0044,0.0397,0.0353,4,5
4,dummyTrade5,USD: CMS:10Y,4M,5Y,0.0046,0.0417,0.0371,4,5
5,dummyTrade6,USD: CMS:10Y,3M,5Y,0.0046,0.0417,0.0371,3,5
6,dummyTrade7,USD: CMS:2Y,6M,10Y,0.0042,0.0379,0.0337,6,10
7,dummyTrade8,USD: CMS:2Y,4M,10Y,0.0042,0.0379,0.0337,4,10
8,dummyTrade9,USD: CMS:5Y,6M,10Y,0.0044,0.0397,0.0353,6,10
9,dummyTrade10,USD: CMS:5Y,4M,10Y,0.0044,0.0397,0.0353,4,10
10,dummyTrade11,USD: CMS:10Y,4M,10Y,0.0046,0.0417,0.0371,4,10
11,dummyTrade12,USD: CMS:10Y,3M,10Y,0.0046,0.0417,0.0371,3,10

In [7]:
swap

            Date Start Date Tenor  Swap Rate
0      13/1/2021  13/1/2022   10y   1.081333
1      13/1/2021  13/1/2022   15y   1.265960
2      13/1/2021  13/1/2022   18M   0.221625
3      13/1/2021  13/1/2022    1y   0.195474
4      13/1/2021  13/1/2022    2y   0.279370
...          ...        ...   ...        ...
63175  12/1/2024  12/1/2039    2y   3.424505
63176  12/1/2024  12/1/2039    3y   3.393758
63177  12/1/2024  12/1/2039    4y   3.358897
63178  12/1/2024  12/1/2039    5y   3.319531
63179  12/1/2024  12/1/2039    8y   3.192330

[63180 rows x 4 columns]

In [8]:
ir

,Value Date,Trade Name,Trade Currency,Zero Rate Shock,TV,Expiry Bucket,Expiry Date,Tenor Bucket,Vega
0,2/9/2022,dummyTrade1,USD,-100,-227907.0988,1y,4/9/2023,10y,1.962246
1,2/9/2022,dummyTrade1,USD,-50,-222208.4010,1y,4/9/2023,10y,-3.812341
2,2/9/2022,dummyTrade1,USD,-25,-218960.9280,1y,4/9/2023,10y,4.471006
3,2/9/2022,dummyTrade1,USD,-10,-216872.4301,1y,4/9/2023,10y,4.333398
4,2/9/2022,dummyTrade1,USD,-5,-216146.3103,1y,4/9/2023,10y,5.679687
...,...,...,...,...,...,...,...,...,...
1048570,2/2/2023,dummyTrade6,USD,75,-197572.2089,15y,2/2/2038,10y,0.104718
1048571,2/2/2023,dummyTrade6,USD,100,-186933.5679,15y,2/2/2038,10y,0.238781
1048572,2/2/2023,dummyTrade7,USD,-100,-680981.2765,15y,2/2/2038,10y,2.552405
1048573,2/2/2023,dummyTrade7,USD,-50,-656248.2494,15y,2/2/2038,10y,2.687706
1048574,2/2/2023,dummyTrade7,USD,-25,-640406.9245,15y,2/2/2038,10y,2.921643

In [9]:
# dictionary storing for tenor
dummy2YCMS = {'dummyTrade1': 2, 'dummyTrade2': 2, 'dummyTrade7': 2, 'dummyTrade8': 2}
dummy5YCMS = {'dummyTrade3': 5, 'dummyTrade4': 5, 'dummyTrade9': 5, 'dummyTrade10': 5}
dummy10YCMS = {'dummyTrade5': 10, 'dummyTrade6': 10, 'dummyTrade11': 10, 'dummyTrade12': 10}
YtoInt = {2:"2y", 5: "5y", 10: "10y"}

dummyTenorCMS = {**dummy2YCMS, **dummy5YCMS, **dummy10YCMS}

In [12]:
startfilter = swap['Date'].isin(ir['Value Date']) 
timefilter = swap['Tenor'].isin(YtoInt.values())
swap_rate = swap[startfilter & timefilter]

swap_rate = swap_rate.drop_duplicates(['Date', 'Tenor'], keep = 'first') # keep the earliest quoted start date of the swap rate
swap_rate

             Date  Start Date Tenor  Swap Rate
34263    2/9/2022    4/9/2023   10y   2.737709
34267    2/9/2022    4/9/2023    2y   2.915516
34270    2/9/2022    4/9/2023    5y   2.724626
34506    6/9/2022    6/9/2023   10y   2.853063
34510    6/9/2022    6/9/2023    2y   3.026077
34513    6/9/2022    6/9/2023    5y   2.852453
34587    7/9/2022    7/9/2023   10y   2.781813
34591    7/9/2022    7/9/2023    2y   2.944991
34594    7/9/2022    7/9/2023    5y   2.770592
34668    8/9/2022    8/9/2023   10y   2.801851
34672    8/9/2022    8/9/2023    2y   2.971172
34675    8/9/2022    8/9/2023    5y   2.797323
34749    9/9/2022   11/9/2023   10y   2.820693
34753    9/9/2022   11/9/2023    2y   3.018696
34756    9/9/2022   11/9/2023    5y   2.830168
34830   12/9/2022   12/9/2023   10y   2.859627
34834   12/9/2022   12/9/2023    2y   3.022722
34837   12/9/2022   12/9/2023    5y   2.848594
34911   13/9/2022   13/9/2023   10y   2.881665
34915   13/9/2022   13/9/2023    2y   3.146826
34918   13/9/2022   13/9/2023    5y   2.917587
34992   14/9/2022   14/9/2023   10y   2.864939
34996   14/9/2022   14/9/2023    2y   3.180619
34999   14/9/2022   14/9/2023    5y   2.913017
35073   15/9/2022   15/9/2023   10y   2.901607
35077   15/9/2022   15/9/2023    2y   3.276389
35080   15/9/2022   15/9/2023    5y   2.981240
35154   16/9/2022   18/9/2023   10y   2.895878
35158   16/9/2022   18/9/2023    2y   3.223926
35161   16/9/2022   18/9/2023    5y   2.950660
35316   20/9/2022   20/9/2023   10y   2.995230
35320   20/9/2022   20/9/2023    2y   3.346812
35323   20/9/2022   20/9/2023    5y   3.071019
35397   21/9/2022   21/9/2023   10y   2.930868
35401   21/9/2022   21/9/2023    2y   3.350654
35404   21/9/2022   21/9/2023    5y   3.015587
35478   22/9/2022   22/9/2023   10y   3.083852
35482   22/9/2022   22/9/2023    2y   3.509187
35485   22/9/2022   22/9/2023    5y   3.203355
35559   23/9/2022   25/9/2023   10y   3.053211
35563   23/9/2022   25/9/2023    2y   3.588002
35566   23/9/2022   25/9/2023    5y   3.221167
35640   26/9/2022   26/9/2023   10y   3.196642
35644   26/9/2022   26/9/2023    2y   3.720568
35647   26/9/2022   26/9/2023    5y   3.389818
35721   27/9/2022   27/9/2023   10y   3.262791
35725   27/9/2022   27/9/2023    2y   3.690765
35728   27/9/2022   27/9/2023    5y   3.429962
35802   28/9/2022   28/9/2023   10y   3.100921
35806   28/9/2022   28/9/2023    2y   3.450016
35809   28/9/2022   28/9/2023    5y   3.210368
35883   29/9/2022   29/9/2023   10y   3.126084
35887   29/9/2022   29/9/2023    2y   3.497814
35890   29/9/2022   29/9/2023    5y   3.252476
35964   30/9/2022   29/9/2023   10y   3.185337
35968   30/9/2022   29/9/2023    2y   3.555462
35971   30/9/2022   29/9/2023    5y   3.323256
36045   3/10/2022   3/10/2023   10y   3.036186
36049   3/10/2022   3/10/2023    2y   3.433042
36052   3/10/2022   3/10/2023    5y   3.161730
36126   4/10/2022   4/10/2023   10y   2.967431
36130   4/10/2022   4/10/2023    2y   3.363874
36133   4/10/2022   4/10/2023    5y   3.081305
36207   5/10/2022   5/10/2023   10y   3.118473
36211   5/10/2022   5/10/2023    2y   3.472567
36214   5/10/2022   5/10/2023    5y   3.223114
36369   6/10/2022   6/10/2023   10y   3.167422
36373   6/10/2022   6/10/2023    2y   3.560103
36376   6/10/2022   6/10/2023    5y   3.295225
36450   7/10/2022   9/10/2023   10y   3.199921
36454   7/10/2022   9/10/2023    2y   3.626347
36457   7/10/2022   9/10/2023    5y   3.344299
36612  11/10/2022  11/10/2023   10y   3.252891
36616  11/10/2022  11/10/2023    2y   3.644407
36619  11/10/2022  11/10/2023    5y   3.379310
36693  12/10/2022  12/10/2023   10y   3.230946
36697  12/10/2022  12/10/2023    2y   3.582920
36700  12/10/2022  12/10/2023    5y   3.334045
36774  14/10/2022  16/10/2023   10y   3.272955
36778  14/10/2022  16/10/2023    2y   3.729223
36781  14/10/2022  16/10/2023    5y   3.406885
36855  17/10/2022  17/10/2023   10y   3.279762
36859  17/10/2022  17/10/2023    2y   3.685258
36862  17/10/2022  17/10/2023    5y   3.382747
36936  18/10/2022  18/10/2023   10y   3.267063
36940  18/10/2022  18/10/2023    2y   3.663422
36943  18/10/2022  18/10/2023    5y   3.368114
37017  19/10/2022  19/10/2023   10y   3.387057
37021  19/10/2022  19/10/2023    2y   3.792742
37024  19/10/2022  19/10/2023    5y   3.499210
37098  20/10/2022  20/10/2023   10y   3.491260
37102  20/10/2022  20/10/2023    2y   3.905344
37105  20/10/2022  20/10/2023    5y   3.606065
37179  21/10/2022  23/10/2023   10y   3.495993
37183  21/10/2022  23/10/2023    2y   3.776884
37186  21/10/2022  23/10/2023    5y   3.544087
37260  24/10/2022  24/10/2023   10y   3.512018
37264  24/10/2022  24/10/2023    2y   3.750573
37267  24/10/2022  24/10/2023    5y   3.545666
37341  25/10/2022  25/10/2023   10y   3.414886
37345  25/10/2022  25/10/2023    2y   3.692658
37348  25/10/2022  25/10/2023    5y   3.456749
37422  26/10/2022  26/10/2023   10y   3.321217
37426  26/10/2022  26/10/2023    2y   3.625888
37429  26/10/2022  26/10/2023    5y   3.378251
37503  27/10/2022  27/10/2023   10y   3.249799
37507  27/10/2022  27/10/2023    2y   3.516759
37510  27/10/2022  27/10/2023    5y   3.291627
37584  28/10/2022  30/10/2023   10y   3.323712
37588  28/10/2022  30/10/2023    2y   3.625969
37591  28/10/2022  30/10/2023    5y   3.390663
37665  31/10/2022  31/10/2023   10y   3.383986
37669  31/10/2022  31/10/2023    2y   3.685939
37672  31/10/2022  31/10/2023    5y   3.441588
37746   1/11/2022   1/11/2023   10y   3.364199
37750   1/11/2022   1/11/2023    2y   3.706569
37753   1/11/2022   1/11/2023    5y   3.440685
37827   2/11/2022   2/11/2023   10y   3.370952
37831   2/11/2022   2/11/2023    2y   3.750384
37834   2/11/2022   2/11/2023    5y   3.447802
37908   3/11/2022   3/11/2023   10y   3.417524
37912   3/11/2022   3/11/2023    2y   3.864131
37915   3/11/2022   3/11/2023    5y   3.522548
37989   4/11/2022   6/11/2023   10y   3.450247
37993   4/11/2022   6/11/2023    2y   3.817118
37996   4/11/2022   6/11/2023    5y   3.513279
38151   7/11/2022   7/11/2023   10y   3.475726
38155   7/11/2022   7/11/2023    2y   3.868422
38158   7/11/2022   7/11/2023    5y   3.546469
38232   8/11/2022   8/11/2023   10y   3.391297
38236   8/11/2022   8/11/2023    2y   3.795434
38239   8/11/2022   8/11/2023    5y   3.457789
38313   9/11/2022   9/11/2023   10y   3.410041
38317   9/11/2022   9/11/2023    2y   3.728137
38320   9/11/2022   9/11/2023    5y   3.434850
38394  10/11/2022  10/11/2023   10y   3.140638
38398  10/11/2022  10/11/2023    2y   3.393670
38401  10/11/2022  10/11/2023    5y   3.130932
38556  14/11/2022  14/11/2023   10y   3.152244
38560  14/11/2022  14/11/2023    2y   3.417937
38563  14/11/2022  14/11/2023    5y   3.153145
38637  15/11/2022  15/11/2023   10y   3.085819
38641  15/11/2022  15/11/2023    2y   3.305157
38644  15/11/2022  15/11/2023    5y   3.074877
38718  16/11/2022  16/11/2023   10y   2.967691
38722  16/11/2022  16/11/2023    2y   3.261079
38725  16/11/2022  16/11/2023    5y   2.984133
38799  17/11/2022  17/11/2023   10y   3.038108
38803  17/11/2022  17/11/2023    2y   3.365600
38806  17/11/2022  17/11/2023    5y   3.070657
38880  18/11/2022  20/11/2023   10y   3.081667
38884  18/11/2022  20/11/2023    2y   3.440497
38887  18/11/2022  20/11/2023    5y   3.132367
38961  21/11/2022  21/11/2023   10y   3.091590
38965  21/11/2022  21/11/2023    2y   3.457458
38968  21/11/2022  21/11/2023    5y   3.147766
39042  22/11/2022  22/11/2023   10y   3.001409
39046  22/11/2022  22/11/2023    2y   3.362519
39049  22/11/2022  22/11/2023    5y   3.068359
39123  23/11/2022  23/11/2023   10y   2.960389
39127  23/11/2022  23/11/2023    2y   3.339434
39130  23/11/2022  23/11/2023    5y   3.029293
39285  25/11/2022  27/11/2023   10y   2.956272
39289  25/11/2022  27/11/2023    2y   3.337378
39292  25/11/2022  27/11/2023    5y   3.022999
39366  28/11/2022  28/11/2023   10y   2.955186
39370  28/11/2022  28/11/2023    2y   3.337841
39373  28/11/2022  28/11/2023    5y   3.017970
39447  29/11/2022  29/11/2023   10y   2.985540
39451  29/11/2022  29/11/2023    2y   3.343093
39454  29/11/2022  29/11/2023    5y   3.033167
39528  30/11/2022  30/11/2023   10y   2.957941
39532  30/11/2022  30/11/2023    2y   3.216278
39535  30/11/2022  30/11/2023    5y   2.958256
39609   1/12/2022   1/12/2023   10y   2.804948
39613   1/12/2022   1/12/2023    2y   3.087856
39616   1/12/2022   1/12/2023    5y   2.813650
39690   2/12/2022   4/12/2023   10y   2.774263
39694   2/12/2022   4/12/2023    2y   3.056870
39697   2/12/2022   4/12/2023    5y   2.780050
39771   5/12/2022   5/12/2023   10y   2.858777
39775   5/12/2022   5/12/2023    2y   3.184383
39778   5/12/2022   5/12/2023    5y   2.892092
39852   6/12/2022   6/12/2023   10y   2.760295
39856   6/12/2022   6/12/2023    2y   3.141788
39859   6/12/2022   6/12/2023    5y   2.820900
39933   7/12/2022   7/12/2023   10y   2.686872
39937   7/12/2022   7/12/2023    2y   3.036463
39940   7/12/2022   7/12/2023    5y   2.724703
40014   8/12/2022   8/12/2023   10y   2.768014
40018   8/12/2022   8/12/2023    2y   3.118219
40021   8/12/2022   8/12/2023    5y   2.823281
40095   9/12/2022  11/12/2023   10y   2.849565
40099   9/12/2022  11/12/2023    2y   3.151035
40102   9/12/2022  11/12/2023    5y   2.879608
40176  12/12/2022  12/12/2023   10y   2.885163
40180  12/12/2022  12/12/2023    2y   3.211756
40183  12/12/2022  12/12/2023    5y   2.922998
40257  13/12/2022  13/12/2023   10y   2.796796
40261  13/12/2022  13/12/2023    2y   3.060784
40264  13/12/2022  13/12/2023    5y   2.810149
40338  14/12/2022  14/12/2023   10y   2.798739
40342  14/12/2022  14/12/2023    2y   3.054731
40345  14/12/2022  14/12/2023    5y   2.808634
40419  15/12/2022  15/12/2023   10y   2.753665
40423  15/12/2022  15/12/2023    2y   3.045204
40426  15/12/2022  15/12/2023    5y   2.775360
40500  16/12/2022  18/12/2023   10y   2.787930
40504  16/12/2022  18/12/2023    2y   3.016511
40507  16/12/2022  18/12/2023    5y   2.786516
40581  19/12/2022  19/12/2023   10y   2.860714
40585  19/12/2022  19/12/2023    2y   3.086533
40588  19/12/2022  19/12/2023    5y   2.864210
40662  20/12/2022  20/12/2023   10y   2.935401
40666  20/12/2022  20/12/2023    2y   3.132776
40669  20/12/2022  20/12/2023    5y   2.938950
40743  21/12/2022  21/12/2023   10y   2.953332
40747  21/12/2022  21/12/2023    2y   3.121460
40750  21/12/2022  21/12/2023    5y   2.950966
40824  22/12/2022  22/12/2023   10y   2.944677
40828  22/12/2022  22/12/2023    2y   3.152989
40831  22/12/2022  22/12/2023    5y   2.956447
40905  23/12/2022  25/12/2023   10y   3.013713
40909  23/12/2022  25/12/2023    2y   3.223114
40912  23/12/2022  25/12/2023    5y   3.018115
41148  28/12/2022  28/12/2023   10y   3.131996
41152  28/12/2022  28/12/2023    2y   3.314942
41155  28/12/2022  28/12/2023    5y   3.134563
41229  29/12/2022  29/12/2023   10y   3.087724
41233  29/12/2022  29/12/2023    2y   3.308224
41236  29/12/2022  29/12/2023    5y   3.107572
41310  30/12/2022  29/12/2023   10y   3.063853
41314  30/12/2022  29/12/2023    2y   3.298362
41317  30/12/2022  29/12/2023    5y   3.084703
41472    3/1/2023    3/1/2024   10y   3.021098
41476    3/1/2023    3/1/2024    2y   3.262864
41479    3/1/2023    3/1/2024    5y   3.050773
41634    4/1/2023    4/1/2024   10y   2.949934
41638    4/1/2023    4/1/2024    2y   3.213736
41641    4/1/2023    4/1/2024    5y   2.972028
41715    5/1/2023    5/1/2024   10y   2.955389
41719    5/1/2023    5/1/2024    2y   3.265430
41722    5/1/2023    5/1/2024    5y   2.995003
41796    6/1/2023    8/1/2024   10y   2.820507
41800    6/1/2023    8/1/2024    2y   3.030758
41803    6/1/2023    8/1/2024    5y   2.815266
41877   24/1/2023   24/1/2024   10y   2.742546
41881   24/1/2023   24/1/2024    2y   2.917872
41884   24/1/2023   24/1/2024    5y   2.714950
41958   25/1/2023   25/1/2024   10y   2.752309
41962   25/1/2023   25/1/2024    2y   2.909625
41965   25/1/2023   25/1/2024    5y   2.713264
42039   26/1/2023   26/1/2024   10y   2.784129
42043   26/1/2023   26/1/2024    2y   2.955647
42046   26/1/2023   26/1/2024    5y   2.753977
42120   27/1/2023   29/1/2024   10y   2.809633
42124   27/1/2023   29/1/2024    2y   2.987257
42127   27/1/2023   29/1/2024    5y   2.785980
42201   30/1/2023   30/1/2024   10y   2.836954
42205   30/1/2023   30/1/2024    2y   3.060775
42208   30/1/2023   30/1/2024    5y   2.835551
42282   31/1/2023   31/1/2024   10y   2.814674
42286   31/1/2023   31/1/2024    2y   2.989115
42289   31/1/2023   31/1/2024    5y   2.794388
42363    1/2/2023    1/2/2024   10y   2.709321
42367    1/2/2023    1/2/2024    2y   2.861414
42370    1/2/2023    1/2/2024    5y   2.670449
42444    2/2/2023    2/2/2024   10y   2.721939
42448    2/2/2023    2/2/2024    2y   2.846523
42451    2/2/2023    2/2/2024    5y   2.674151

In [13]:
ir['CMS Tenor'] = ir['Trade Name'].map(dummyTenorCMS).map(YtoInt)
zero = ir.loc[ir['Zero Rate Shock'] == 0]
# map the swap rate to the current zero rate shock 0 swap rate, fill zero rate change later


zero = zero.merge(swap_rate, left_on = ['Value Date', 'CMS Tenor'], right_on = ['Date', 'Tenor'], how = "left")


zero.drop(columns = ['Tenor', 'Date', 'Start Date'], inplace = True)
zero
## only map swap rate to zero shock data

,Value Date,Trade Name,Trade Currency,Zero Rate Shock,TV,Expiry Bucket,Expiry Date,Tenor Bucket,Vega,CMS Tenor,Swap Rate
0,2/9/2022,dummyTrade1,USD,0,-215402.6562,1y,4/9/2023,10y,5.016274,2y,2.915516
1,2/9/2022,dummyTrade10,USD,0,-616299.3692,1y,4/9/2023,10y,-59.820414,5y,2.724626
2,2/9/2022,dummyTrade11,USD,0,-608678.0110,1y,4/9/2023,10y,7.762595,10y,2.737709
3,2/9/2022,dummyTrade12,USD,0,-609360.6624,1y,4/9/2023,10y,25.329779,10y,2.737709
4,2/9/2022,dummyTrade2,USD,0,-215836.7872,1y,4/9/2023,10y,5.409384,2y,2.915516
...,...,...,...,...,...,...,...,...,...,...,...
87376,2/2/2023,dummyTrade2,USD,0,-217281.0660,15y,2/2/2038,10y,-0.003141,2y,2.846523
87377,2/2/2023,dummyTrade3,USD,0,-215534.8146,15y,2/2/2038,10y,0.027171,5y,2.674151
87378,2/2/2023,dummyTrade4,USD,0,-215949.0810,15y,2/2/2038,10y,0.022477,5y,2.674151
87379,2/2/2023,dummyTrade5,USD,0,-214200.3061,15y,2/2/2038,10y,-0.038096,10y,2.721939
87380,2/2/2023,dummyTrade6,USD,0,-214405.8827,15y,2/2/2038,10y,0.018321,10y,2.721939

In [14]:
ir = ir.merge(zero, on = ['Value Date', 'Trade Name', 'Zero Rate Shock', 'Trade Currency',  'TV',
       'Expiry Bucket', 'Expiry Date', 'Tenor Bucket', 'Vega', 'CMS Tenor'],  how = "left")
# merge zero shock swap rate data back to IR data

In [15]:
ir
# merged IR data

,Value Date,Trade Name,Trade Currency,Zero Rate Shock,TV,Expiry Bucket,Expiry Date,Tenor Bucket,Vega,CMS Tenor,Swap Rate
0,2/9/2022,dummyTrade1,USD,-100,-227907.0988,1y,4/9/2023,10y,1.962246,2y,NaN
1,2/9/2022,dummyTrade1,USD,-50,-222208.4010,1y,4/9/2023,10y,-3.812341,2y,NaN
2,2/9/2022,dummyTrade1,USD,-25,-218960.9280,1y,4/9/2023,10y,4.471006,2y,NaN
3,2/9/2022,dummyTrade1,USD,-10,-216872.4301,1y,4/9/2023,10y,4.333398,2y,NaN
4,2/9/2022,dummyTrade1,USD,-5,-216146.3103,1y,4/9/2023,10y,5.679687,2y,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1048570,2/2/2023,dummyTrade6,USD,75,-197572.2089,15y,2/2/2038,10y,0.104718,10y,NaN
1048571,2/2/2023,dummyTrade6,USD,100,-186933.5679,15y,2/2/2038,10y,0.238781,10y,NaN
1048572,2/2/2023,dummyTrade7,USD,-100,-680981.2765,15y,2/2/2038,10y,2.552405,2y,NaN
1048573,2/2/2023,dummyTrade7,USD,-50,-656248.2494,15y,2/2/2038,10y,2.687706,2y,NaN
1048574,2/2/2023,dummyTrade7,USD,-25,-640406.9245,15y,2/2/2038,10y,2.921643,2y,NaN

In [14]:
#ir.to_csv("new ir.csv")

In [16]:
trade = trade.drop(columns = ["underlying", "pay_frequency", "maturity"])
trade.rename(columns={'trade name': 'Trade Name'}, inplace=True)
trade

,Trade Name,lower_bound,upper_bound,bound width,month_pay_frequency,year_maturity
0,dummyTrade1,0.0042,0.0379,0.0337,6,5
1,dummyTrade2,0.0042,0.0379,0.0337,4,5
2,dummyTrade3,0.0044,0.0397,0.0353,6,5
3,dummyTrade4,0.0044,0.0397,0.0353,4,5
4,dummyTrade5,0.0046,0.0417,0.0371,4,5
5,dummyTrade6,0.0046,0.0417,0.0371,3,5
6,dummyTrade7,0.0042,0.0379,0.0337,6,10
7,dummyTrade8,0.0042,0.0379,0.0337,4,10
8,dummyTrade9,0.0044,0.0397,0.0353,6,10
9,dummyTrade10,0.0044,0.0397,0.0353,4,10
10,dummyTrade11,0.0046,0.0417,0.0371,4,10
11,dummyTrade12,0.0046,0.0417,0.0371,3,10

In [17]:
ir = ir.merge(trade, on = "Trade Name", how = "left")

In [18]:
ir

,Value Date,Trade Name,Trade Currency,Zero Rate Shock,TV,Expiry Bucket,Expiry Date,Tenor Bucket,Vega,CMS Tenor,Swap Rate,lower_bound,upper_bound,bound width,month_pay_frequency,year_maturity
0,2/9/2022,dummyTrade1,USD,-100,-227907.0988,1y,4/9/2023,10y,1.962246,2y,NaN,0.0042,0.0379,0.0337,6,5
1,2/9/2022,dummyTrade1,USD,-50,-222208.4010,1y,4/9/2023,10y,-3.812341,2y,NaN,0.0042,0.0379,0.0337,6,5
2,2/9/2022,dummyTrade1,USD,-25,-218960.9280,1y,4/9/2023,10y,4.471006,2y,NaN,0.0042,0.0379,0.0337,6,5
3,2/9/2022,dummyTrade1,USD,-10,-216872.4301,1y,4/9/2023,10y,4.333398,2y,NaN,0.0042,0.0379,0.0337,6,5
4,2/9/2022,dummyTrade1,USD,-5,-216146.3103,1y,4/9/2023,10y,5.679687,2y,NaN,0.0042,0.0379,0.0337,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2/2/2023,dummyTrade6,USD,75,-197572.2089,15y,2/2/2038,10y,0.104718,10y,NaN,0.0046,0.0417,0.0371,3,5
1048571,2/2/2023,dummyTrade6,USD,100,-186933.5679,15y,2/2/2038,10y,0.238781,10y,NaN,0.0046,0.0417,0.0371,3,5
1048572,2/2/2023,dummyTrade7,USD,-100,-680981.2765,15y,2/2/2038,10y,2.552405,2y,NaN,0.0042,0.0379,0.0337,6,10
1048573,2/2/2023,dummyTrade7,USD,-50,-656248.2494,15y,2/2/2038,10y,2.687706,2y,NaN,0.0042,0.0379,0.0337,6,10
1048574,2/2/2023,dummyTrade7,USD,-25,-640406.9245,15y,2/2/2038,10y,2.921643,2y,NaN,0.0042,0.0379,0.0337,6,10

In [19]:
ir.to_csv("complete ir.csv")