In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option("display.max_rows", 999)

In [3]:
trade = pd.read_csv("../data/trade-information.csv")
ir = pd.read_csv("../data/trade-price-ir-vegas.csv")
swap = pd.read_csv("../data/market-data-swap-rates.csv")
swaption = pd.read_csv("../data/market-data-swaption-vols.csv")

In [4]:
#compare = ir.loc[ir["Trade Name"].isin(["dummyTrade1", "dummyTrade2"])]

In [5]:
#compare.head(999)

In [6]:
trade['bound width'] = trade['upper_bound'] - trade['lower_bound'] 

trade['month_pay_frequency'] = trade['pay_frequency'].str.removesuffix("M") # remove M from string
trade['month_pay_frequency'] = trade['month_pay_frequency'].astype(int) # convert to int


trade['year_maturity'] = trade['maturity'].str.removesuffix("Y") # remove Y from string
trade['year_maturity'] = trade['year_maturity'].astype(int)  # convert to int

In [7]:
trade

,trade name,underlying,pay_frequency,maturity,lower_bound,upper_bound,bound width,month_pay_frequency,year_maturity
0,dummyTrade1,USD: CMS:2Y,6M,5Y,0.0042,0.0379,0.0337,6,5
1,dummyTrade2,USD: CMS:2Y,4M,5Y,0.0042,0.0379,0.0337,4,5
2,dummyTrade3,USD: CMS:5Y,6M,5Y,0.0044,0.0397,0.0353,6,5
3,dummyTrade4,USD: CMS:5Y,4M,5Y,0.0044,0.0397,0.0353,4,5
4,dummyTrade5,USD: CMS:10Y,4M,5Y,0.0046,0.0417,0.0371,4,5
5,dummyTrade6,USD: CMS:10Y,3M,5Y,0.0046,0.0417,0.0371,3,5
6,dummyTrade7,USD: CMS:2Y,6M,10Y,0.0042,0.0379,0.0337,6,10
7,dummyTrade8,USD: CMS:2Y,4M,10Y,0.0042,0.0379,0.0337,4,10
8,dummyTrade9,USD: CMS:5Y,6M,10Y,0.0044,0.0397,0.0353,6,10
9,dummyTrade10,USD: CMS:5Y,4M,10Y,0.0044,0.0397,0.0353,4,10
10,dummyTrade11,USD: CMS:10Y,4M,10Y,0.0046,0.0417,0.0371,4,10
11,dummyTrade12,USD: CMS:10Y,3M,10Y,0.0046,0.0417,0.0371,3,10

In [8]:
swap

            Date Start Date Tenor  Swap Rate
0      13/1/2021  13/1/2022   10y   1.081333
1      13/1/2021  13/1/2022   15y   1.265960
2      13/1/2021  13/1/2022   18M   0.221625
3      13/1/2021  13/1/2022    1y   0.195474
4      13/1/2021  13/1/2022    2y   0.279370
...          ...        ...   ...        ...
63175  12/1/2024  12/1/2039    2y   3.424505
63176  12/1/2024  12/1/2039    3y   3.393758
63177  12/1/2024  12/1/2039    4y   3.358897
63178  12/1/2024  12/1/2039    5y   3.319531
63179  12/1/2024  12/1/2039    8y   3.192330

[63180 rows x 4 columns]

In [9]:
ir
ir.columns

Index(['Value Date', 'Trade Name', 'Trade Currency', 'Zero Rate Shock', 'TV',
       'Expiry Bucket', 'Expiry Date', 'Tenor Bucket', 'Vega'],
      dtype='object')

In [10]:
# dictionary storing for tenor
dummy2YCMS = {'dummyTrade1': 2, 'dummyTrade2': 2, 'dummyTrade7': 2, 'dummyTrade8': 2}
dummy5YCMS = {'dummyTrade3': 5, 'dummyTrade4': 5, 'dummyTrade9': 5, 'dummyTrade10': 5}
dummy10YCMS = {'dummyTrade5': 10, 'dummyTrade6': 10, 'dummyTrade11': 10, 'dummyTrade12': 10}
YtoInt = {2:"2y", 5: "5y", 10: "10y"}

dummyTenorCMS = {**dummy2YCMS, **dummy5YCMS, **dummy10YCMS}

In [50]:
startfilter = swap['Start Date'].isin(ir['Value Date']) 
timefilter = swap['Tenor'].isin(YtoInt.values())
swap_rate = swap[startfilter & timefilter]

swap_rate = swap_rate.drop_duplicates(['Start Date', 'Tenor'], keep = 'last')
swap_rate

             Date  Start Date Tenor  Swap Rate
2682     2/3/2021    2/9/2022   10y   1.554418
2686     2/3/2021    2/9/2022    2y   0.600688
2689     2/3/2021    2/9/2022    5y   1.135497
4707     7/4/2021   7/10/2022   10y   1.743677
4711     7/4/2021   7/10/2022    2y   0.762730
4714     7/4/2021   7/10/2022    5y   1.359913
13527    6/9/2021    6/9/2022   10y   1.296478
13531    6/9/2021    6/9/2022    2y   0.599896
13534    6/9/2021    6/9/2022    5y   1.002287
13608    7/9/2021    7/9/2022   10y   1.342631
13612    7/9/2021    7/9/2022    2y   0.629347
13615    7/9/2021    7/9/2022    5y   1.040777
13689    8/9/2021    8/9/2022   10y   1.315254
13693    8/9/2021    8/9/2022    2y   0.628480
13696    8/9/2021    8/9/2022    5y   1.021944
13770    9/9/2021    9/9/2022   10y   1.280990
13774    9/9/2021    9/9/2022    2y   0.618333
13777    9/9/2021    9/9/2022    5y   0.999007
13932   10/9/2021   12/9/2022   10y   1.322053
13936   10/9/2021   12/9/2022    2y   0.640716
13939   10/9/2021   12/9/2022    5y   1.038399
14013   13/9/2021   13/9/2022   10y   1.298141
14017   13/9/2021   13/9/2022    2y   0.630707
14020   13/9/2021   13/9/2022    5y   1.023568
14094   14/9/2021   14/9/2022   10y   1.260076
14098   14/9/2021   14/9/2022    2y   0.625706
14101   14/9/2021   14/9/2022    5y   0.996198
14175   15/9/2021   15/9/2022   10y   1.289803
14179   15/9/2021   15/9/2022    2y   0.639328
14182   15/9/2021   15/9/2022    5y   1.020463
14256   16/9/2021   16/9/2022   10y   1.316328
14260   16/9/2021   16/9/2022    2y   0.661963
14263   16/9/2021   16/9/2022    5y   1.056744
14418   20/9/2021   20/9/2022   10y   1.290729
14422   20/9/2021   20/9/2022    2y   0.656454
14425   20/9/2021   20/9/2022    5y   1.040658
14499   21/9/2021   21/9/2022   10y   1.296109
14503   21/9/2021   21/9/2022    2y   0.660860
14506   21/9/2021   21/9/2022    5y   1.049408
14580   22/9/2021   22/9/2022   10y   1.301341
14584   22/9/2021   22/9/2022    2y   0.713274
14587   22/9/2021   22/9/2022    5y   1.079149
14661   23/9/2021   23/9/2022   10y   1.376824
14665   23/9/2021   23/9/2022    2y   0.752276
14668   23/9/2021   23/9/2022    5y   1.145511
14742   24/9/2021   26/9/2022   10y   1.430481
14746   24/9/2021   26/9/2022    2y   0.771692
14749   24/9/2021   26/9/2022    5y   1.180359
14823   27/9/2021   27/9/2022   10y   1.449416
14827   27/9/2021   27/9/2022    2y   0.785919
14830   27/9/2021   27/9/2022    5y   1.208430
14904   28/9/2021   28/9/2022   10y   1.501368
14908   28/9/2021   28/9/2022    2y   0.791211
14911   28/9/2021   28/9/2022    5y   1.243897
14985   29/9/2021   29/9/2022   10y   1.497236
14989   29/9/2021   29/9/2022    2y   0.769655
14992   29/9/2021   29/9/2022    5y   1.226946
15066   30/9/2021   30/9/2022   10y   1.487038
15070   30/9/2021   30/9/2022    2y   0.757463
15073   30/9/2021   30/9/2022    5y   1.214443
15147   1/10/2021   3/10/2022   10y   1.426939
15151   1/10/2021   3/10/2022    2y   0.719819
15154   1/10/2021   3/10/2022    5y   1.153067
15228   4/10/2021   4/10/2022   10y   1.436453
15232   4/10/2021   4/10/2022    2y   0.733949
15235   4/10/2021   4/10/2022    5y   1.162616
15309   5/10/2021   5/10/2022   10y   1.482260
15313   5/10/2021   5/10/2022    2y   0.763100
15316   5/10/2021   5/10/2022    5y   1.197536
15390   6/10/2021   6/10/2022   10y   1.474102
15394   6/10/2021   6/10/2022    2y   0.777463
15397   6/10/2021   6/10/2022    5y   1.200978
15552  11/10/2021  11/10/2022   10y   1.564730
15556  11/10/2021  11/10/2022    2y   0.845142
15559  11/10/2021  11/10/2022    5y   1.282024
15633  12/10/2021  12/10/2022   10y   1.534401
15637  12/10/2021  12/10/2022    2y   0.893561
15640  12/10/2021  12/10/2022    5y   1.285671
15795  14/10/2021  14/10/2022   10y   1.464654
15799  14/10/2021  14/10/2022    2y   0.900085
15802  14/10/2021  14/10/2022    5y   1.239830
15876  15/10/2021  17/10/2022   10y   1.509854
15880  15/10/2021  17/10/2022    2y   0.980105
15883  15/10/2021  17/10/2022    5y   1.302985
15957  18/10/2021  18/10/2022   10y   1.507433
15961  18/10/2021  18/10/2022    2y   1.028887
15964  18/10/2021  18/10/2022    5y   1.325806
16038  19/10/2021  19/10/2022   10y   1.561198
16042  19/10/2021  19/10/2022    2y   0.996185
16045  19/10/2021  19/10/2022    5y   1.337693
16119  20/10/2021  20/10/2022   10y   1.569940
16123  20/10/2021  20/10/2022    2y   0.985358
16126  20/10/2021  20/10/2022    5y   1.338792
16200  21/10/2021  21/10/2022   10y   1.601203
16204  21/10/2021  21/10/2022    2y   1.060955
16207  21/10/2021  21/10/2022    5y   1.393878
16281  22/10/2021  24/10/2022   10y   1.584799
16285  22/10/2021  24/10/2022    2y   1.083974
16288  22/10/2021  24/10/2022    5y   1.388034
16362  25/10/2021  25/10/2022   10y   1.581848
16366  25/10/2021  25/10/2022    2y   1.053151
16369  25/10/2021  25/10/2022    5y   1.370251
16443  26/10/2021  26/10/2022   10y   1.568378
16447  26/10/2021  26/10/2022    2y   1.064067
16450  26/10/2021  26/10/2022    5y   1.371473
16524  27/10/2021  27/10/2022   10y   1.470099
16528  27/10/2021  27/10/2022    2y   1.066668
16531  27/10/2021  27/10/2022    5y   1.303176
16605  28/10/2021  28/10/2022   10y   1.491189
16609  28/10/2021  28/10/2022    2y   1.081654
16612  28/10/2021  28/10/2022    5y   1.316770
16686  29/10/2021  31/10/2022   10y   1.471925
16690  29/10/2021  31/10/2022    2y   1.093952
16693  29/10/2021  31/10/2022    5y   1.303325
16767   1/11/2021   1/11/2022   10y   1.496586
16771   1/11/2021   1/11/2022    2y   1.128683
16774   1/11/2021   1/11/2022    5y   1.334429
16848   2/11/2021   2/11/2022   10y   1.491155
16852   2/11/2021   2/11/2022    2y   1.066183
16855   2/11/2021   2/11/2022    5y   1.314853
16929   3/11/2021   3/11/2022   10y   1.517368
16933   3/11/2021   3/11/2022    2y   1.108579
16936   3/11/2021   3/11/2022    5y   1.350809
17010   4/11/2021   4/11/2022   10y   1.477040
17014   4/11/2021   4/11/2022    2y   1.025849
17017   4/11/2021   4/11/2022    5y   1.290816
17091   5/11/2021   7/11/2022   10y   1.397036
17095   5/11/2021   7/11/2022    2y   0.977112
17098   5/11/2021   7/11/2022    5y   1.224762
17172   8/11/2021   8/11/2022   10y   1.438549
17176   8/11/2021   8/11/2022    2y   1.047690
17179   8/11/2021   8/11/2022    5y   1.285651
17334   9/11/2021   9/11/2022   10y   1.378382
17338   9/11/2021   9/11/2022    2y   1.011467
17341   9/11/2021   9/11/2022    5y   1.227113
17415  10/11/2021  10/11/2022   10y   1.498671
17419  10/11/2021  10/11/2022    2y   1.156951
17422  10/11/2021  10/11/2022    5y   1.366310
17496  12/11/2021  14/11/2022   10y   1.540067
17500  12/11/2021  14/11/2022    2y   1.208159
17503  12/11/2021  14/11/2022    5y   1.401095
17577  15/11/2021  15/11/2022   10y   1.569742
17581  15/11/2021  15/11/2022    2y   1.213945
17584  15/11/2021  15/11/2022    5y   1.422804
17658  16/11/2021  16/11/2022   10y   1.584226
17662  16/11/2021  16/11/2022    2y   1.228508
17665  16/11/2021  16/11/2022    5y   1.445517
17739  17/11/2021  17/11/2022   10y   1.558705
17743  17/11/2021  17/11/2022    2y   1.200896
17746  17/11/2021  17/11/2022    5y   1.415532
17820  18/11/2021  18/11/2022   10y   1.533528
17824  18/11/2021  18/11/2022    2y   1.185214
17827  18/11/2021  18/11/2022    5y   1.390542
17901  19/11/2021  21/11/2022   10y   1.484122
17905  19/11/2021  21/11/2022    2y   1.191905
17908  19/11/2021  21/11/2022    5y   1.364690
17982  22/11/2021  22/11/2022   10y   1.577276
17986  22/11/2021  22/11/2022    2y   1.307378
17989  22/11/2021  22/11/2022    5y   1.469991
18144  25/11/2021  25/11/2022   10y   1.587861
18148  25/11/2021  25/11/2022    2y   1.341307
18151  25/11/2021  25/11/2022    5y   1.495941
18225  26/11/2021  28/11/2022   10y   1.437516
18229  26/11/2021  28/11/2022    2y   1.173897
18232  26/11/2021  28/11/2022    5y   1.336361
18306  29/11/2021  29/11/2022   10y   1.486103
18310  29/11/2021  29/11/2022    2y   1.178276
18313  29/11/2021  29/11/2022    5y   1.358758
18387  30/11/2021  30/11/2022   10y   1.416967
18391  30/11/2021  30/11/2022    2y   1.178749
18394  30/11/2021  30/11/2022    5y   1.310722
18468   1/12/2021   1/12/2022   10y   1.409995
18472   1/12/2021   1/12/2022    2y   1.198364
18475   1/12/2021   1/12/2022    5y   1.305613
18549   2/12/2021   2/12/2022   10y   1.415303
18553   2/12/2021   2/12/2022    2y   1.248778
18556   2/12/2021   2/12/2022    5y   1.336126
18630   3/12/2021   5/12/2022   10y   1.328237
18634   3/12/2021   5/12/2022    2y   1.193499
18637   3/12/2021   5/12/2022    5y   1.247672
18711   6/12/2021   6/12/2022   10y   1.421075
18715   6/12/2021   6/12/2022    2y   1.264200
18718   6/12/2021   6/12/2022    5y   1.348055
18792   7/12/2021   7/12/2022   10y   1.466204
18796   7/12/2021   7/12/2022    2y   1.309879
18799   7/12/2021   7/12/2022    5y   1.391931
18873   8/12/2021   8/12/2022   10y   1.480767
18877   8/12/2021   8/12/2022    2y   1.293393
18880   8/12/2021   8/12/2022    5y   1.393680
19035   9/12/2021   9/12/2022   10y   1.453961
19039   9/12/2021   9/12/2022    2y   1.299026
19042   9/12/2021   9/12/2022    5y   1.377214
19116  10/12/2021  12/12/2022   10y   1.473758
19120  10/12/2021  12/12/2022    2y   1.273926
19123  10/12/2021  12/12/2022    5y   1.380569
19197  13/12/2021  13/12/2022   10y   1.410440
19201  13/12/2021  13/12/2022    2y   1.232076
19204  13/12/2021  13/12/2022    5y   1.328200
19278  14/12/2021  14/12/2022   10y   1.420166
19282  14/12/2021  14/12/2022    2y   1.250764
19285  14/12/2021  14/12/2022    5y   1.342772
19359  15/12/2021  15/12/2022   10y   1.427658
19363  15/12/2021  15/12/2022    2y   1.269650
19366  15/12/2021  15/12/2022    5y   1.348722
19440  16/12/2021  16/12/2022   10y   1.390602
19444  16/12/2021  16/12/2022    2y   1.183885
19447  16/12/2021  16/12/2022    5y   1.272318
19521  17/12/2021  19/12/2022   10y   1.359171
19525  17/12/2021  19/12/2022    2y   1.198361
19528  17/12/2021  19/12/2022    5y   1.262319
19602  20/12/2021  20/12/2022   10y   1.380882
19606  20/12/2021  20/12/2022    2y   1.185595
19609  20/12/2021  20/12/2022    5y   1.270080
19683  21/12/2021  21/12/2022   10y   1.454135
19687  21/12/2021  21/12/2022    2y   1.246493
19690  21/12/2021  21/12/2022    5y   1.349401
19764  22/12/2021  22/12/2022   10y   1.430331
19768  22/12/2021  22/12/2022    2y   1.241706
19771  22/12/2021  22/12/2022    5y   1.335299
19845  23/12/2021  23/12/2022   10y   1.459295
19849  23/12/2021  23/12/2022    2y   1.255181
19852  23/12/2021  23/12/2022    5y   1.351429
20007  28/12/2021  28/12/2022   10y   1.444279
20011  28/12/2021  28/12/2022    2y   1.257493
20014  28/12/2021  28/12/2022    5y   1.343068
20088  29/12/2021  29/12/2022   10y   1.502155
20092  29/12/2021  29/12/2022    2y   1.277453
20095  29/12/2021  29/12/2022    5y   1.389226
20169  30/12/2021  30/12/2022   10y   1.467829
20173  30/12/2021  30/12/2022    2y   1.261008
20176  30/12/2021  30/12/2022    5y   1.367604
20250    3/1/2022    3/1/2023   10y   1.566226
20254    3/1/2022    3/1/2023    2y   1.335844
20257    3/1/2022    3/1/2023    5y   1.467551
20331    4/1/2022    4/1/2023   10y   1.598853
20335    4/1/2022    4/1/2023    2y   1.323796
20338    4/1/2022    4/1/2023    5y   1.478510
20412    5/1/2022    5/1/2023   10y   1.630685
20416    5/1/2022    5/1/2023    2y   1.393000
20419    5/1/2022    5/1/2023    5y   1.530524
20493    6/1/2022    6/1/2023   10y   1.665081
20497    6/1/2022    6/1/2023    2y   1.437565
20500    6/1/2022    6/1/2023    5y   1.572552
21384   24/1/2022   24/1/2023   10y   1.653498
21388   24/1/2022   24/1/2023    2y   1.453979
21391   24/1/2022   24/1/2023    5y   1.574672
21465   25/1/2022   25/1/2023   10y   1.697986
21469   25/1/2022   25/1/2023    2y   1.497096
21472   25/1/2022   25/1/2023    5y   1.621467
21546   26/1/2022   26/1/2023   10y   1.752096
21550   26/1/2022   26/1/2023    2y   1.570579
21553   26/1/2022   26/1/2023    5y   1.691050
21627   27/1/2022   27/1/2023   10y   1.703359
21631   27/1/2022   27/1/2023    2y   1.626980
21634   27/1/2022   27/1/2023    5y   1.671795
21708   28/1/2022   30/1/2023   10y   1.689226
21712   28/1/2022   30/1/2023    2y   1.599989
21715   28/1/2022   30/1/2023    5y   1.641030
21789   31/1/2022   31/1/2023   10y   1.689950
21793   31/1/2022   31/1/2023    2y   1.576774
21796   31/1/2022   31/1/2023    5y   1.634499
21870    1/2/2022    1/2/2023   10y   1.696728
21874    1/2/2022    1/2/2023    2y   1.583833
21877    1/2/2022    1/2/2023    5y   1.636621
21951    2/2/2022    2/2/2023   10y   1.668898
21955    2/2/2022    2/2/2023    2y   1.575760
21958    2/2/2022    2/2/2023    5y   1.611764

In [56]:
ir['CMS Tenor'] = ir['Trade Name'].map(dummyTenorCMS).map(YtoInt)
zero = ir.loc[ir['Zero Rate Shock'] == 0]
# map the swap rate to the current zero rate shock 0 swap rate, fill zero rate change later


zero = zero.merge(swap_rate, left_on = ['Value Date', 'CMS Tenor'], right_on = ['Start Date', 'Tenor'], how = "left")


zero.drop(columns = ['Tenor', 'Date', 'Start Date'], inplace = True)
zero
zero.head(1000)
zero.columns

Index(['Value Date', 'Trade Name', 'Trade Currency', 'Zero Rate Shock', 'TV',
       'Expiry Bucket', 'Expiry Date', 'Tenor Bucket', 'Vega', 'CMS Tenor',
       'Swap Rate'],
      dtype='object')

In [57]:
ir = ir.merge(zero, on = ['Value Date', 'Trade Name', 'Zero Rate Shock', 'Trade Currency',  'TV',
       'Expiry Bucket', 'Expiry Date', 'Tenor Bucket', 'Vega', 'CMS Tenor'],  how = "left")

In [58]:
ir

,Value Date,Trade Name,Trade Currency,Zero Rate Shock,TV,Expiry Bucket,Expiry Date,Tenor Bucket,Vega,CMS Tenor,Swap Rate
0,2/9/2022,dummyTrade1,USD,-100,-227907.0988,1y,4/9/2023,10y,1.962246,2y,NaN
1,2/9/2022,dummyTrade1,USD,-50,-222208.4010,1y,4/9/2023,10y,-3.812341,2y,NaN
2,2/9/2022,dummyTrade1,USD,-25,-218960.9280,1y,4/9/2023,10y,4.471006,2y,NaN
3,2/9/2022,dummyTrade1,USD,-10,-216872.4301,1y,4/9/2023,10y,4.333398,2y,NaN
4,2/9/2022,dummyTrade1,USD,-5,-216146.3103,1y,4/9/2023,10y,5.679687,2y,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1048570,2/2/2023,dummyTrade6,USD,75,-197572.2089,15y,2/2/2038,10y,0.104718,10y,NaN
1048571,2/2/2023,dummyTrade6,USD,100,-186933.5679,15y,2/2/2038,10y,0.238781,10y,NaN
1048572,2/2/2023,dummyTrade7,USD,-100,-680981.2765,15y,2/2/2038,10y,2.552405,2y,NaN
1048573,2/2/2023,dummyTrade7,USD,-50,-656248.2494,15y,2/2/2038,10y,2.687706,2y,NaN
1048574,2/2/2023,dummyTrade7,USD,-25,-640406.9245,15y,2/2/2038,10y,2.921643,2y,NaN

In [60]:
ir.to_csv("new ir.csv")
# have bug: duplicated data with different swap rates